body{
    margin: 0;
    padding: 0;
}
body{
    width: 90vw;
    height: 40vh;
    background: url(download.jpg);
    background-size: cover;
    /* background: red; */
}
body .container{
    display: flex;
    flex-direction: row;
    background: #4267B2;
    width: 60rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    margin-top: 3rem;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

}
.container:hover{
    width: 61rem;
    height: 31rem;
    /* box-shadow: 40px solid black; */
}
.container .content{
    border: 2px solid red;
    width: 55rem;
    height: 25rem;

}
.content .inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    top:50%;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    color: white;
}
.inputs label{
    text-transform: capitalize;
    margin: 5px;
    color: white;
    /* background: red; */
}
input[type="email"],[type="password"]{  
    border-radius: 5px;
    border:none;
    height: 30px;
    transition: width 5s;

}
input:focus{
    outline: none;
    width: 15rem;
   

}
.btn{
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 2rem;
    margin-left:-10rem ;
}
button{
    margin-left: 200px;
    margin-top: 30px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background: red;
    border: none;
    color: white;

}
button:hover{
    background: white;
    color: #4267B2;
}